{% extends 'base.html' %}

{% block content %}
<div class="butterfly"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1 class="text-center">Welcome to my Butterfly Collection</h1>
				<hr />
				<p class="lead">Discover the beauty and diversity of butterflies from all over the world.</p>
				<p>Our team of experts has carefully curated this collection to showcase the most fascinating and unique butterflies, each with their own colors, patterns, and characteristics. Whether you are a butterfly enthusiast or simply appreciate the wonders of nature, we invite you to explore our collection and learn more about these incredible creatures.</p>
				<p class="mb-5">We are constantly adding new butterflies to our collection, so be sure to check back often to see what's new!</p>
				<a href="{% url 'index' %}" class="btn btn-primary btn-lg">Explore Collection</a>
			</div>
			<div class="col-md-6">
				
			</div>
		</div>
	</div>
{% endblock content %}
