{% extends 'base.html' %}

{% block content %}

<h1>Butterfly Details</h1>

<div class="butterfly"></div>

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ butterfly.name }}</span>
                <p>Species: {{ butterfly.species }}</p>
                <p>Color: {{butterfly.color}}</p>
                <p>Description: {{ butterfly.description }}</p>
                <p>Wingspan: {{ butterfly.wingspan }}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'butterflies_update' butterfly.id %}">Edit</a>
                <a href="{% url 'butterflies_delete' butterfly.id %}">Delete</a>

            </div>
          </div>
          <!-- the end of class card -->
            {% for photo in butterfly.photo_set.all %}
		        <img class="responsive-img card-panel" src="{{photo.url}}">
		        {% empty %}
		       <div class="card-panel teal-text center-align">No Photos Uploaded</div>
		        {% endfor %}

            <form action="{% url 'add_photo' butterfly.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
              {% csrf_token %}
              <input type="file" name="photo-file">
              <br><br>
              <input type="submit" class="btn" value="Upload Photo">
            </form>


    </div>
    <div class="col s6">

        <form action="{% url 'add_nectarSource' butterfly.id %}" method="POST">
            {% csrf_token %}
            {{ nectar_source_form.as_p }}
            <input type="submit" class="btn" value="Add Nectar Source">
        </form>

        <table class="striped">
            <thead>
                <tr>
                    <th>Flowers</th>
                </tr>
            </thead>
            <tbody>
                {% for flower in butterfly.nectarsource_set.all %}
                <tr>
                    <td>{{ flower.date }}</td>
                    <td>{{flower.get_source_display}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
     </div>
</div>

<hr>
<div class="row">
	<div class="col s6">
		<h3>{{ butterfly.name }}'s Flowers</h3>
		{% if butterfly.flowers.count %}
		{% for flower in butterfly.flowers.all %}
		<div class="card">
			<div class="card-content">
				<span class="card-title">
					A <span style="color: {{ flower.color }}">{{ flower.color }}</span> {{ flower.name }}
				</span>
			</div>
		</div>
		{% endfor %}
		{% else %}
		<h5>No Flowers :(</h5>
		{% endif %}
	</div>

  <!-- Available toys will come after this line -->
	<div class="col s6">
		<h3>Available Flowers</h3>
		{% if flowers.count %}
		{% for flower in flowers.all %}
		<div class="card">
			<div class="card-content">
				<span class="card-title">
					A <span style="color: {{ flower.color }}">{{ flower.color }}</span> {{ flower.name }}
				</span>
			</div>
			<div class="card-action">
				<form action="{% url 'assoc_flower' butterfly.id flower.id %}" method="post">
					{% csrf_token %}
					<button type="submit" class="btn">Add</button>
				</form>
			</div>
		</div>
		{% endfor %}
		{% else %}
		<h5>{{butterfly.name}} Already Has All Flowers Available</h5>
		{% endif %}
	</div>
</div>


<script>

	const dateEl = document.querySelector('#id_date');
	M.Datepicker.init(dateEl, {
		format: 'yyyy-mm-dd', // this how django formats the date in the model
		defaultDate: new Date(),
		setDefaultDate: true,
		autoClose: true
	})


	const selectEl = document.querySelector('#id_source');
	M.FormSelect.init(selectEl)

</script>


{% endblock %}
